---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Transparence media">
		<main>
			<h1>Bienvenue sur Transparence media.</h1>
			
			<ul role="list" class="mt-12">
				<li>
					<a href="/media">Liste des media</a>
				</li>
				<li>
					<a href="/actionnaires">Liste des actionnaires</a>
				</li>
			</ul>
		</main>
</Layout>

<style>

</style>
