<header class="flex gap-8 justify-between w-full h-12 items-center px-4 border border-t-0 border-l-0 border-r-0 border-b-orange-300 ">
    <h1><a href="/" class="!no-underline">Transparence media</a></h1>
    <nav class="flex gap-4">
        <a href="/media">Media</a>
        <a href="/actionnaires">Actionnaires</a>
    </nav>
</header>


