---
import Prose from "./Prose.astro";


---

<Prose fullWidth>
    <header class="flex gap-8 justify-between w-full">
        <h1>Transparence media</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/media">Liste des media</a>
            <a href="/actionnaires">Liste des actionnaires</a>
        </nav>
    </header>
</Prose>

